.blue-background{
  background-image: url(background.jpg);
}

.pink-background{
  background-image: url(../img/backgroundinv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.intro {
  font-style: italic;
  font-weight: bold;
  color: blue;
}

.title{
  font-style: normal;
  color: black;
}

.about{
  font-style: oblique;
  margin-left:10%;
  margin-right: 10%;

}

.italics{
  font-weight: bold;
}
